:root{
}

*{box-sizing: border-box}

body{
  margin:0;
  background: #d7d7d7;
  color: #000000;
  height: 100%; /* täyttää sivun täyden mittaiseksi jos on tyhjää tilaa*/
  display:flex;
  flex-direction:column;
}

/*HEADER*/
header{
  height: 75px;
  padding: 12px 20px;
  background: #092633;
  color: #ef393d;
}

/*SIJAINTI ELEMENTTI HEADERIN JÄLKEEN*/
.sijainti {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #f4e7d3;
}

.sijainti-row {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #d9a066;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #692e00;
    white-space: nowrap;
}

.sijainti-label {
    font-weight: bold;
    color: #3c1d00;
    font-size: 20px;
}

.sijainti-value {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.sijainti button {
    margin-left: auto;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 1.1rem;
}

/* TABLE STYLING */
.card {
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 6px 18px #092633;
  border: 2px solid #135f85;
  background-color: #0e1e2b;
  color: #d9a066;
  max-width: 900px;
  margin: 40px auto;
}

#highscore_table {
  width: 100%;
  margin-top: 20px;
}

td {
  padding: 23px;
  text-align: center;
  border-bottom: 1px solid #135f85;
  font-weight: bold;
}
th {
  padding: 12px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ef393d;
  border-bottom: 1px solid #135f85;
}

/*FOOTER*/
footer{
  height: 75px;
  background: #092633;
}

@media (max-width: 880px){
  main{
    flex: 1
  }
  #map{min-height:420px}
  .sidebar{flex-direction:row; gap:12px;}
  .panel{flex:1; min-height:160px}
}

@media (max-width:480px){
  .sidebar{flex-direction:column}
}