:root{
}

*{box-sizing: border-box}

body{
  margin:0;
  background: #d7d7d7;
  color: #000000;
  min-height:100vh; /* täyttää sivun täyden mittaiseksi jos on tyhjää tilaa*/
  display:flex;
  flex-direction:column;
}

/*HEADER*/
header{
  height: 75px;
  padding: 12px 20px;
  background: #092633;
  color: #ef393d;
}

/*SIJAINTI ELEMENTTI HEADERIN JÄLKEEN*/
.sijainti {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #f4e7d3;
}

.sijainti-row {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #d9a066;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #692e00;
    white-space: nowrap;
}

.sijainti-label {
    font-weight: bold;
    color: #3c1d00;
    font-size: 20px;
}

.sijainti-value {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.sijainti button {
    margin-left: auto;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 1.1rem;
}

/* KARTTA JA PANEELIT OSIO */
main {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1.3fr 320px;
  gap: 16px;
}
/* KARTAN IKKUNA */
.card {
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 6px 18px #092633;
  border: 2px solid #135f85;
}
/* KARTTA IKKUNAN SISÄLTÖ */
#map {
  height: 700px;
  width: 100%;
  position: relative;
}
/* OSIO PANEELIT 1 JA 2 STATUS JA NAVIGAATTORI */
.sidebar {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.panel {
  padding: 12px;
  min-height: 350px;
  border-radius: 10px;
  background: #092633;
  box-shadow: 0 6px 18px #092633;
  color: #c8fff4;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
}
/*Status paneelin sisältö*/
.stat {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  background: #d9a066;
  border: 1px solid #092633;
  border-radius: 6px;
}
/*säädetty*/
.label {
  font-weight: bold;
  font-size: 15px;
  color: #002c36;
}
/*säädetty*/
.value {
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}

/*FOOTER*/
footer{
  height: 75px;
  background: #092633;
}

@media (max-width: 880px){
  main{
    grid-template-columns: 1fr;
  }
  #map{min-height:420px}
  .sidebar{flex-direction:row; gap:12px;}
  .panel{flex:1; min-height:160px}
}

@media (max-width:480px){
  .sidebar{flex-direction:column}
}